.vscode
**/__pycache__
tempCodeRunnerFile.py
**/bin
*.png
mercury/**/*.dmp
mercury/**/*.tmp
mercury/**/*.clo
mercury/**/*.gnu
mercury/**/*.out
mercury/element6
mercury/mercury6
mercury/close6
mercury/**/*

*.dSYM
.vscode